<div class="container col-lg-12 animated fadeInLeft" style="background-color:white; height:500%;">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-xl-3">
            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <button class="btn  btn-xs" type="submit" routerLink="/home" ><img alt="Busqueda" src="../../assets/img/logoFV.png" width="100%" height="15%"></button>
                            <br><br>
                            <h4>REGISTRO DE USUARIO</h4>
                            <br><br>
                        </div>

                    <form (ngSubmit)="registro(form)" #form="ngForm"
                            class="user">

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                                <input type="name" 
                                class="form-control" 
                                id="nombre" 
                                name="nombre"
                                [(ngModel)]="usuario.nombre"
                                aria-describedby="emailHelp"
                                minlength="2"
                                required>
                        </div>
                        <span *ngIf="form.submitted && form.controls['nombre'].errors"
                            class="text-danger">El nombre es obligatorio</span>

                        <div class="form-group">
                            <label for="nombre">Apellido</label>
                                <input type="name" 
                                class="form-control" 
                                id="apellido" 
                                name="apellido"
                                [(ngModel)]="usuario.apellido"
                                aria-describedby="emailHelp"
                                minlength="2"
                                required>
                        </div>
                        <span *ngIf="form.submitted && form.controls['apellido'].errors"
                            class="text-danger">El apellido es obligatorio</span>

                        <div class="form-group">
                            <label for="email">Correo Electronico</label>
                                <input type="email" 
                                class="form-control" 
                                id="email" 
                                name="email"
                                [(ngModel)]="usuario.email"
                                email
                                aria-describedby="emailHelp" 
                                required>
                            </div>
                        <span *ngIf="form.submitted && form.controls['email'].errors"
                            class="text-danger">El correo electronico es obligatorio</span>

                        <div class="form-group">
                        <label for="pass">Contraseña</label>
                            <input type="password" 
                            class="form-control" 
                            [(ngModel)]="usuario.password"
                            id="password"
                            name="password"
                            minlength="8"
                            required>
                        </div>
                        <span *ngIf="form.submitted && form.controls['password2'].errors"
                            class="text-danger animated fadeIn">La contraseña es obligatoria</span>

                        <div class="form-group">
                            <label for="pass">Confirmación de contraseña</label>
                                <input type="password" 
                                class="form-control"
                                [(ngModel)]="usuario.password2" 
                                id="password2"
                                name="password2"
                                minlength="8"
                                required>
                            </div>
                            <span *ngIf="form.submitted && form.controls['password2'].errors"
                            class="text-danger">La contraseña es obligatoria</span>

                            <div class="form-group">
                                <label for="pass">Espacio para reCaptcha</label>
                                    <!--<input type="password" 
                                    class="form-control" 
                                    id="pass2"
                                    name="pass2"
                                    minlength="8"
                                    required>-->
                                </div>

                        <div class="text-center">

                            ¿Tienes una cuenta? <a routerLink="/login">Inicia Sesión</a> <br><br>
                            <button type="submit" class="btn btn-danger">REGISTRARME</button>
                        </div>
                        
                    </form>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>