<nav class="navbar navbar-expand-lg" style =" text-align:left; background-color: white;">
    <button class="btn  btn-xs" type="submit" routerLink="/home" ><img alt="Busqueda" src="../../assets/img/logoFV.png" width="50" height="45"></button>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn  btn-xs" type="submit"><img alt="Busqueda" src="../../assets/icon/search.svg" width="35" height="35"></button>
    </form>
  </nav>

  <div class = "barra" style = "background-color: rgb(220, 53, 69);">
    <br>
  </div>

  <table>
    <thead>
        <tr>
            <th>nombre</th>
            <th>Hola</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{usuario.nombre}}</td>
        </tr>
    </tbody>    
  </table>