<div class="container col-lg-12 animated fadeInLeft" style="background-color:white; height:500%;">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-xl-3">
            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <button class="btn  btn-xs" type="submit" routerLink="/home" ><img alt="Busqueda" src="../../assets/img/logoFV.png" width="100%" height="15%"></button>
                            <br><br>
                            <h4>INICIO DE SESIÓN</h4>
                            <br><br>
                        </div>

                    <form (ngSubmit)="login(form)" #form="ngForm"
                        class="user">

                        <div class="form-group">
                            <label for="email">Correo Electronico</label>
                                <input type="email" 
                                class="form-control" 
                                [(ngModel)]="usuario.email"
                                id="email" 
                                name="email"
                                email
                                aria-describedby="emailHelp" 
                                required>
                            </div>

                            <span *ngIf="form.submitted && form.controls['email'].errors"
                            class="text-danger">El correo electronico es obligatorio</span>

                        <div class="form-group">
                        <label for="pass">Contraseña</label>
                            <input type="password" 
                            class="form-control" 
                            id="password"
                            [(ngModel)]="usuario.password"
                            name="password"
                            minlength="8"
                            required>
                        </div>

                        <span *ngIf="form.submitted && form.controls['password'].errors"
                            class="text-danger animated fadeIn">La contraseña es obligatoria</span>

                        <div class="text-center">

                            ¿No tienes una cuenta? <a routerLink="/registro">Crear una cuenta</a> <br><br>
                            <button [routerLink]="['/home', usuario.id ]" type="submit" class="btn btn-danger">INICIAR SESIÓN</button>
                        </div>
                        
                    </form>
    </div>
  </div>    
</div>
</div>
</div>
</div>
</div>
</div>