<!--<nav style=" text-align:left; background-color: rgb(110, 50, 43);"class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" routerLink = "/home"></a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">

                <a class="navbar-brand" href="#">
                    <i class="fa fa-gamepad" aria-hidden="true">
                    &nbsp;
                  </i>
                   <img alt="Brand" src="../../assets/img/logoFV.png" width="40" height="35">
                  </a>

                <li class="nav-item">
                    <div class="flexsearch">
                        <div class="flexsearch--wrapper">
                            <form class="flexsearch--form" action="#" method="post">
                                <div class="flexsearch--input-wrapper">
                                    <input class="flexsearch--input" type="search" placeholder="Busqueda">
                                </div>
                                <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                            </form>
                        </div>
                </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#/misiones" style=" color:white;">Nombre de usuario</a>
                </li>
        </ul>
    </div>
</nav>
-->

<nav class="navbar navbar-expand-lg" style =" text-align:left; background-color: white;">
  <button class="btn  btn-xs" type="submit" routerLink="/home" ><img alt="Busqueda" src="../../assets/img/logoFV.png" width="50" height="45"></button>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn  btn-xs" type="submit"><img alt="Busqueda" src="../../assets/icon/search.svg" width="35" height="35"></button>
    </form>

    <button class="btn  btn-xs" (click)="login()" type="submit" routerLink="/login">Iniciar Sesión</button>
    <button class="btn  btn-xs" (click)="logup()" type="submit" routerLink="/registro">Registrarse</button>
    <button class="btn  btn-xs" (click)="salir()" type="submit" routerLink="/perfil">Cerrar Sesión</button>
  </nav>

  <div class = "barra" style = "background-color: rgb(220, 53, 69);">
    <br>
  </div>

  <youtube-player 
  videoId="rInVbN7HYXc" 
  suggestedQuality="highres"
  [height]="120" 
  [width]="200">
</youtube-player>